<div (click)="clickBike()">
    <p-card>
        <ng-template pTemplate="header">
            <img *ngIf="bike && bike.img !== undefined" alt="Card" [src]="firstImage" class="image"/>
        </ng-template>
        <ng-template pTemplate="footer" class="footerStyle">
            <div class="idBike">E-Bike</div>

            <div class="dettagliPrezzo">
                <span class="details" *ngIf="ad && ad.price !== undefined">{{ad.price}}</span>
                <br>
                <span>€</span>
            </div>
        </ng-template>
        <div class="additional-info">
            <div class="user-info">
                <span *ngIf="user && user.name !== undefined">Acquistata da: {{user.name}}</span>
            </div>
            <div class="purchase-date">
                <span *ngIf="appointment && appointment.date !== undefined">Data di acquisto: {{appointment.date}}</span>
            </div>
        </div>
    </p-card>
</div>