<div (click)="clickBike()">
    <p-card>
        <ng-template pTemplate="header">
            <img *ngIf="bicicletta && bicicletta.img !== undefined" alt="Card" [src]="firstImage" class="image"/>
        </ng-template>
        <ng-template pTemplate="footer" class="footerStyle">
            <div class="idBike">E-Bike {{bike?.id}}</div>

            <div class="dettagliPrezzo">
                <span class="details">{{bike?.brand}}, {{bike?.model}}, {{bike?.color}}</span>
                <br>
                <span>{{price}} €</span>
            </div>
        </ng-template>
        <div class="additional-info">
            <div class="user-info">
                <span>Acquistata da: {{ user?.name }}</span>
            </div>
            <div class="purchase-date">
                <span>Data di acquisto: {{ user?.date }}</span>
            </div>
        </div>
    </p-card>
</div>